<html>
	<head>
		<title>
			Project Zaphod - Password
		</title>
		{% include "formcss.html" %}
		<script type = "text/javascript">
			$(document).ready(function() {
				$('#old').focusout(function() {
					$.ajax({
						type: 'POST',
						url:/checkpassword/,
						data: {'password': $(this).attr('value')},
						success: function(data) { 
						if(data =='exists') $('#oldmessage').html('OK, this one is there.');
						else $('#oldmessage').html('Something seems to be wrong with this password.');										}
					});
				});
				
				$('#new').focusout(function() {
					if($(this).attr('value') == '') {
					$('#newmessage').html('This password is not allowed and that is an order.');
					return;
					}
					$.ajax({
						type: 'POST',
						url:/checkpassword/,
						data: {'password': $(this).attr('value')},
						success: function(data) { 
						if(data =='exists') $('#newmessage').html('Holy cow, someone has already taken this password! Please choose another one.');
						else $('#newmessage').html('Nothing wrong with this.');													}

					});
				});

				$('#confirm').keyup(function() {
					if($('#new').attr('value') != '') {
						if ($(this).attr('value') != $('#new').attr('value')) 
						    $('#confirmmessage').html('Keep going, they don\'t match.')
						else 
						    $('#confirmmessage').html('Yippee! they match.')
					}
				});

				$('form').submit(function() { 
						if($('#new').attr('value') == '' || $('#old').attr('value') == '' || $('#confirm').attr('value') == '' || $('#confirm').attr('value') != $('#new').attr('value'))
							return false;
					});
			});
		</script>

	</head>

	<div class = "form">
		<form method = "POST" action = {% url views.passwordForm %} autocomplete = "off">
			<p> Old </p>
			<input type = "password" name = "old" id = "old">
			<div id = "oldmessage"> </div>
			<p> New </p>
			<input type = "password" name = "new" id = "new">
			<div id = "newmessage"> </div>
			<p> Confirm </p>
			<input type = "password" name = "confirm" id = "confirm">
			<div id = "confirmmessage"> </div>
			<br/>
			<br/>
			<input type = "submit" id = "submit" value = "change">
		</form>
		{% if message %}
		  <p id = "error"> {{ message }} </p>
		{% endif %}
	</div>
</html>
